<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="{{'backButton' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'settings.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>{{'settings.theme' | translate}}</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" [disabled]="deviceThemeToggle" justify="space-between">
        {{'settings.darkMode' | translate}}
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="deviceThemeToggle" (ionChange)="toggleDeviceTheme($event)" justify="space-between">
        {{'settings.deviceTheme' | translate}}
      </ion-toggle>
    </ion-item>
  </ion-list>
  
  <ion-list-header>{{'settings.language' | translate}}</ion-list-header>
  <ion-list [inset]="true">
    <ion-radio-group [value]="currentLanguage" (ionChange)="changeLanguage($event)">
      <ion-item>
        <ion-radio value="en">{{'settings.english' | translate}}</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="pt">{{'settings.portuguese' | translate}}</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
